#borderAll{
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  border-style: solid;
  border-color: white;
  border-width: 10px;
  z-index: 1;
  position: fixed;
  pointer-events: none;
}

/* Aframe embedded style */
a-scene{
  width: 70vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: -1;
}

/*div styles */

.navbtn{
  z-index: 2;
}
.rotbtn{
}
.aframe {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 70vw;
  background-color: #0f1110;
}

.div-block {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 25vw;
  background-color: #10109f;
}

.div-block-2 {
  width: 10px;
  height: 10px;
  background-color: #fff;
}

.navposall {
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  display: block;
  height: 150px;
  margin-right: 40px;
  float: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.navpos {
  position: static;
  width: 10px;
  height: 35px;
  margin-top: 5px;
  border: 1px solid #fff;
}

._2001spaceodysseycopydiv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30vw;
  height: 100vh;
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #10109f;
  background-image: url('../images/VectorSphere.png');
  background-position: 0px 0px;
  background-size: auto 1080px;
}

.copyalldiv {
  display: block;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block {
  display: inline-block;
}

._3diotext {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 10px;
  font-weight: 100;
}

.projecttitletext {
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #fff500;
  font-size: 32px;
  line-height: 36px;
  font-style: italic;
  font-weight: 600;
}

.text-span {
  text-decoration: underline;
}

.infocopyalldiv {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #fff;
  background-color: #10109f;
}

.div-block-3 {
  border: 1px solid #fff;
}

.copytopdiv {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #fff;
}

.text-block-2 {
  color: #10109f;
  text-align: center;
}

.copymiddiv {
  position: relative;
  overflow: hidden;
  height: 400px;
  margin: 0px;
  padding: 0px 10px 30px;
  border-bottom: 1px solid #fff;
  font-size: 48px;
  line-height: 48px;
}

.text-block-3 {
  height: 330px;
  padding-top: 30px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: Exo, sans-serif;
  color: #fff;
  font-size: 38px;
  line-height: 60px;
  font-weight: 100;
  letter-spacing: -2px;
}

.copybottomdiv {
  margin-top: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: 1px solid #fff;
  background-color: #10109f;
}

.text-block-4 {
  color: #fff;
  text-align: center;
}

.aframenavspacer {
  position: relative;
  height: 45vh;
}

.div-block-4 {
  margin-left: 40px;
  float: left;
}

.allnavbuttondiv {
  width: 50px;
  margin-left: 40px;
  float: left;
  z-index: 2;
}

.button {
  width: 50px;
  height: 50px;
  clear: left;
  border: 1px solid #fff;
  background-color: transparent;

}

.button:hover {
  background-color: #10109f;
}

.button:active {
  background-color: #c112e2;
}

.button.up {
  text-align: center;
}

.button.down {
  text-align: center;
}

.button.rotate {
  text-align: center;
}

.btnrot{
  width: 50px;
  height: 50px;
  clear: left;
  border: 1px solid #fff;
  background-color: transparent;
  color: white;
}

.copygap {
  height: 30px;
  border-bottom: 1px dashed #fff;
}

.div-block-5 {
  position: static;
  top: 0px;
}

.moveupcopy {
  position: relative;
  top: 0px;
}

.div-block-6 {
  position: absolute;
  display: block;
  width: 100vh;
  height: 20px;
}

.cta-button {
  display: block;
  width: auto;
  height: 100%;
  margin: 0px;
  padding-top: 23px;
  padding-bottom: 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #fff;
  background-color: #06ce6a;
  font-family: Exo, sans-serif;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
}

.cta-btn-border-div {
  height: 100px;
  padding: 15px;
  border: 1px solid #fff;
}

.cta-btn-divider {
  height: 12px;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-bottom: 0px;
  border-bottom: 1px none #fff;
  background-color: transparent;
}

.cta-btn-divider.top {
  height: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: 1px solid #fff;
  border-bottom: 1px none #fff;
  background-color: transparent;
}

.column {
  padding-right: 0px;
  padding-left: 0px;
  border-top: 1px none #000;
}

.cta-main-div {
  position: relative;
  opacity: 0;
}

.black-overlay {
  position: absolute;
  top: -40vh;
  left: -100px;
  z-index: -1;
  width: 150%;
  height: 100vh;
  padding-right: 0px;
  background-color: #0f1110;;
  /* background-color: #0f1110; */
  opacity: .6;
}

@media (max-width: 479px) {
  .copyalldiv {
    margin-right: 40px;
  }
}
